# Core Deep Learning
keras>=3.0.0
torch
torchvision
torchaudio

# Computer Vision & Image Processing
opencv-python-headless
pillow
matplotlib
seaborn

# Data Science & Analytics
numpy
pandas
scikit-learn

# Deployment & Interface
streamlit
watchdog
fastapi==0.115.6
uvicorn==0.32.1
python-multipart
pytest==8.3.4

# Environment & Notebooks
jupyter
ipython
py7zr
python-dotenv
